body {
  padding: 10px;
}
button {
  margin-bottom: 10px;
  width: 100px;
  height: 50px;
}
.weui-cells {
  margin-top: 0;
  opacity: 0;
  width: 100px;
  height: 30px;
  line-height: 30px;
  background: #888;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: .3s;
  transition: .3s;
}
.weui-cells_show {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
